<!DOCTYPE html>
<html>
  <head>
    <title>AngularOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Bungee|Cousine" rel="stylesheet">
  </head>

  <body ng-app="maphack">

    <nav class="nav-section navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <% if user_signed_in? %>
          <ul class="navCustom nav navbar-nav">
            <li><a href="/home">News Feed</a></li>
            <li><a href="/map">View Map</a></li>
            <li><%= link_to 'MAP HACK', root_path, :class => "logotype" %></li>
            <li><a href="/cheat/new">Add A Cheat </a></li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">View Profile</a></li>
                <li><a href="#">Your Hacks</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
              </ul>
            </li>
          </ul>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <ui-view></ui-view>
  </body>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsqsFKBqzMawhlyQOJaJQcI807viZlHlk&libraries=places">
  </script>

</html>